export default {
    CLIENT_URL: "https://selina.d.yeducoders.com",
    SERVER_URL: "https://api-selina.d.yeducoders.com",

    FACEBOOK_CLIENT_ID: "",
    FACEBOOK_CLIENT_SECRET: "",

    GOOGLE_CLIENT_ID:"",
    GOOGLE_CLIENT_SECRET: ""

    AUTH_COOKIE_NAME: "auth-token",

    GOOGLE_MAP_API_KEY: "",

    PAYPAL_TYPE: "production" || "sandbox",
    PAYPAL_CLIENT_ID:"",

    TAWK_PATH:""
};