export default {
    CLIENT_URL: "https://selina.d.yeducoders.com",
    SERVER_URL: "https://api-selina.d.yeducoders.com",

    SERVER_API: "/api",
    SERVER_STORAGE: "/public",
    TOKEN_UPDATE_INTERVAL_MS: 30 * 60000,
    FACEBOOK_AUTH_LINK:
        "/auth/facebook",
    GOOGLE_AUTH_LINK: "/auth/google",

    MAX_FILE_SIZE: 5242880,
    MAX_SMALL_FILE_SIZE: 1048576,
    MAX_SUMMARY_FILE_SIZE: 26214400,

    REMEMBER_COOKIES_DAYS: 90,
    NORMAL_COOKIES_DAYS: 7,

    FACEBOOK_CLIENT_ID: "",
    FACEBOOK_CLIENT_SECRET: "",

    GOOGLE_CLIENT_ID:"",
    GOOGLE_CLIENT_SECRET: ""

    AUTH_COOKIE_NAME: "auth-token",

    GOOGLE_MAP_API_KEY: "",
    GOOGLE_GEOCODE_API_KEY: ""

    PAYPAL_CLIENT_ID:"",

    TAWK_PATH:""
};