export default {
  BASE_URL: "http://localhost:3000",
  SERVER_API_URL: "http://localhost:5000/api",
  SERVER_STORAGE_URL: "http://localhost:5000/public",
  TOKEN_UPDATE_INTERVAL_MS: 30 * 60000,
  FACEBOOK_AUTH_LINK: "http://localhost:5000/auth/facebook",
  GOOGLE_AUTH_LINK: "http://localhost:5000/auth/google",
};